@font-face {
    font-family: 'YourFontName'; /*a name to be used later*/
    src: url('../fonts/font.ttf'); /*URL to font*/
}
body{
	background-image: url('../graphics/background_right.jpg');
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-attachment: fixed;
}
form{
	background-color: #1A1A1A;
	margin-left: 15px;
	margin-top: 20px;	
	box-shadow: 1px 1px 1px lightblue, 0 0 25px skyblue, 0 0 3px blue;
	opacity: 0.8;
    filter: alpha(opacity=80);
}
h1{
	list-style: none;
	font-family: 'YourFontName';
	padding:5px;
	text-decoration: none;
    text-transform: uppercase;
	text-shadow: 2px 2px 5px skyblue;
	display: block;
    font-weight: bold;
	color: white;
}
p{
	color: skyblue;
	padding: 5px;
}
h2{
	list-style: none;
	
	padding:5px;
	text-decoration: none;
    text-transform: uppercase;
	text-shadow: 2px 2px 5px skyblue;
	display: block;
    font-weight: bold;
	color: white;
}
h3{
padding-left: 65%;
font-size: 10px;
color: skyblue;
padding-bottom: 10px;
}
#login{
	width: 300px;
	float:right;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom:15px;
}
#loginDesign{
	display: float;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #1A1A1A;
	box-shadow: 1px 1px 1px lightblue, 0 0 25px skyblue, 0 0 3px blue;
}
#username, #password{
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: lightgrey;
}
text{
	color: skyblue;
	padding: 5px;
}
#Btn{
	margin-left: 10px;
	font-family: 'YourFontName';
	box-shadow: 1px 1px 1px lightblue, 0 0 25px skyblue, 0 0 3px blue;
}
#Btn:hover{
	box-shadow: 1px 1px 1px skyblue, 0 0 25px blue, 0 0 3px darkblue;
	color: violet;
	font-family: 'YourFontName';
}
#status{
	width: 300px;
	float:right;
	float: top;
	margin-right: 20px;
}
#statusDesign{
	display: float;
	background-color: #1A1A1A;
	box-shadow: 1px 1px 1px lightblue, 0 0 25px skyblue, 0 0 3px blue;
}
#collored{
	color: yellow;
}
#colloredON{
	color: green;
}
#colloredOFF{
	color: red;
}
th{
	width: 300px;
	text-align: center;
}
#fieldStatus{
	text-align: center;
}
#fieldD{
	text-align: right;
}
a{
	text-decoration: none;
	text-shadow: 1px 1px 1px black, 0 0 25px blue, 0 0 3px darkblue;
	color: white;
	margin: 5px;
}
a:hover, a:active {
	text-decoration: none;
	color: skyblue;
    text-shadow: 1px 1px 1px black, 0 0 25px blue, 0 0 3px darkblue;
}
@-webkit-keyframes glow {
    to {
         border-color: #69c800;
    -webkit-box-shadow: 0 0 5px #69c800;
       -moz-box-shadow: 0 0 5px #69c800;
            box-shadow: 0 0 5px #69c800;
    }
}

.myGlower {
    background-color: #1A1A1A;
    border: 1px solid transparent;
    -webkit-animation: glow 3.0s infinite alternate;  
     -webkit-transition: border 3.0s linear, box-shadow 3.0s linear;
       -moz-transition: border 3.0s linear, box-shadow 3.0s linear;
            transition: border 3.0s linear, box-shadow 3.0s linear;
	display: float;	
	padding-top: 10px;
	padding-bottom: 10px;
}